[app]
limit_wrong_input = 10
limit_wrong_request = 10
subdomain = subdomain_name_under_which_the_project_was_installed

[datetime]
format = %H:%M:%S

[url_shortener]
api_name = urlshortener
api_version = v1
api_url = https://www.googleapis.com/auth/urlshortener
key = your_url_shorterner_service_key
enabled = True

[twitter_api]
consumer_key = your_api_key
consumer_secret = your_api_secret
token = your_access_token
token_secret = your_access_secret